# Optional cache dirs
.cache/
.next/
out/

# Optional .env.* files
.env.local
.env.production
.env.development
.env.test

# Build tools (if using TypeScript or React)
build/
*.tsbuildinfo

# Logs from nodemon
npm-debug.log


.vercel
